.header{ height:92px; background:url(../images/icon.png) repeat-x;}
.user_icon{ background:url(../images/icon.png) -2px -364px;}
.out_icon{ background:url(../images/icon.png) -32px -365px; margin-top:1px;}
.tx_icon{ background:url(../images/icon.png) -63px -368px; }
.navt{ height:25px; background:url(../images/icon.png) 0 -100px repeat-x; color:#FFF; padding-top:8px;}
.left_top{ width:249px; line-height:32px; height:39px; background:url(../images/icon.png) 0 -153px;}
.gl_icon{ background:url(../images/icon.png) -93px -367px; margin-left:70px;}
.left_main{ width:149px; margin: 0;  background:url(../images/leftbg.jpg) repeat-y; padding:50px 50px; min-height:554px;}
.left_bottom{ width:249px; height:58px; background:url(../images/icon.png) 0 -238px;}
.li_01_home{ width:125px; height:34px; background:url(../images/icon.png) 0 -423px; }
.li_01_home:hover{background:url(../images/icon.png) -145px -423px;}
.li_02_zhht{ width:125px; height:34px; background:url(../images/icon.png) 0 -468px; }
.li_02_zhht:hover{background:url(../images/icon.png) -145px -468px;}
.li_03_zjjl{ width:125px; height:34px; background:url(../images/icon.png) 0 -513px; }
.li_03_zjjl:hover{background:url(../images/icon.png) -145px -513px;}
.li_04_cxpgb{ width:125px; height:34px; background:url(../images/icon.png) 0 -558px; }
.li_04_cxpgb:hover{background:url(../images/icon.png) -145px -558px;}
.li_05_hmd{ width:125px; height:34px; background:url(../images/icon.png) 0 -602px; }
.li_05_hmd:hover{background:url(../images/icon.png) -145px -602px;}
.li_06_glhdzd{ width:125px; height:34px; background:url(../images/icon.png) 0 -645px; }
.li_06_glhdzd:hover{background:url(../images/icon.png) -145px -645px;}
.time_icon{background:url(../images/icon.png) -153px -367px;}
.h_title{ line-height:35px; background:url(../images/icon.png) 0 -315px repeat-x;}
.ht_icon{background:url(../images/icon.png) -181px -366px; margin-top:8px;}
.li_a:hover{ text-decoration:none; }
.li_hover:hover{background:#efefef;}
.footer{ min-height:80px; background:url(../images/icon.png) 0 -709px repeat-x;}
.cf_icon{ background:url(../images/icon.png) -241px -365px;margin-top:8px;}
.hm_icon{ background:url(../images/icon.png) -210px -366px;margin-top:8px;}
.mbx_icon{background:url(../images/icon.png) -121px -367px;}
.moer_icon{background:url(../images/icon.png) -122px -395px;}
.first_icon{background:url(../images/icon.png) -5px -397px;}
.pre_icon{background:url(../images/icon.png) -34px -397px;}
.next_icon{background:url(../images/icon.png) -68px -397px;}
.last_icon{background:url(../images/icon.png) -95px -397px;}
.zj_form li{ padding:10px;}
.zj_form_sel{width:210px; height:26px; border:1px solid #ccc; padding:3px; }
.zj_form_inp{width:250px; height:26px;border:1px solid #ccc;}
.zj_form_sinp{width:119px; height:26px;border:1px solid #ccc;}
.zj_form_text{width:250px; height:90px; border:1px solid #ccc;}
.zj_form_sub{ width:86px; height:30px; background: url(../images/icon.png) 0 -813px; border:0}
.zj_form_sub:hover{ background: url(../images/icon.png) 0 -853px;}
.zj_form_but{ width:59px; height:30px; background: url(../images/icon.png) -92px -813px; border:0}
.zj_form_but:hover{ background: url(../images/icon.png) -92px -853px;}

.ht_form select{width:210px; height:30px; border:1px solid #ccc; background:#fff; padding:3px; margin-right:5px;}
.ht_form_sub{ width:75px; height:30px; background:url(../images/icon.png) -195px -813px; border:0; }
.ht_form_sub:hover{ background:url(../images/icon.png) -195px -854px;}
.write{ width:169px; height:37px; background:url(../images/icon.png) 0 -903px; text-indent:-9999px;}

.write:hover{background:url(../images/icon.png) 0 -959px;}

.pct12{ width:12%}